<div class="row col-md-8 col-md-offset-2">

  <h1>Create a company stock recommendation</h1>
    <div class="well">
      <div class="chatroom-form">
        <%= form_for @chatroom do |f| %>
          <div class="input-group">
            <span class="input-group-addon">Company Name:</span>
            <%= f.text_field :topic, class: "form-control"%>
          </div>
          <br>
          <%= f.submit class: "btn btn-primary", id: "create-stockrecommendation " %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'layouts/flash_errors'%>
</div>

