<div class="jumbotron">
  <h1 align="center">Welcome to Stock Recommendation!</h1>
  <%if current_user%>
    <p align="center"><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <p align="center">Sign up or log in.</p>
</div>

