default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: shaily
  password: test

development:
  <<: *default
  database: pro_development

test:
  <<: *default
  database: pro_test

production:
  <<: *default
  database: pro_production
  username: project
  password: <%= ENV['PROJECT_DATABASE_PASSWORD'] %>